<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_social_links %}
<ul class="icon-links">

  <!-- GitHub link -->
  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link" itemprop="url"><i class="fa fa-github fa-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

  <!-- Google Scholar link -->
  {% if site.resume_social_links.resume_scholar_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_scholar_url }}" class="icon-link" itemprop="url"><i class="ai ai-google-scholar ai-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

  <!-- Twitter link -->
  {% if site.resume_social_links.resume_twitter_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_twitter_url }}" class="icon-link" itemprop="url"><i class="fa fa-twitter fa-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.resume_social_links.resume_dribbble_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_dribbble_url }}" class="icon-link" itemprop="url"><i class="fa fa-dribbble fa-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.resume_social_links.resume_facebook_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_facebook_url }}" class="icon-link" itemprop="url"><i class="fa fa-facebook fa-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_linkedin_url }}" class="icon-link" itemprop="url"><i class="fa fa-linkedin fa-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

  <!-- Instagram link -->
  {% if site.resume_social_links.resume_instagram_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_instagram_url }}" class="icon-link" itemprop="url"><i class="fa fa-instagram fa-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

  <!-- Website link -->
  {% if site.resume_social_links.resume_website_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_website_url }}" class="icon-link" itemprop="url"><i class="fa fa-home fa-2x" style="color:#D1CECC;"></i></a></li>
  {% endif %}

</ul>
{% endif %}
