<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <!-- Contact buttons don't work in print, configure in the _config.yml file, remove "print-only" to display always. -->
        <div class="header-contact-info print-only" itemprop="contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>

        <div class="title-bar no-print">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary no-print" itemprop="description">
          <!-- This is the executive summary. You should write a few brief, concise, and meaningful sentences about yourself from a professional context, and your immediate career goals. Make the length appropriate for your needs, but K.I.S.S. -->
          <p>Materials research scientist specializing in phase-field models of solid state coarsening phenomena. Passionate about software development for scientific computing. Interested in opportunities in microstructural kinetics research and high-performance computing.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://www.nist.gov">
          <h3 class="resume-item-title" itemprop="name">National Institute of Standards and Technology</h3>
          <h4 class="resume-item-details" itemprop="description">Research Staff &bull; Gaithersburg, MD &bull; July 2017 &mdash; Present</h4>
          <p class="resume-item-copy">Developing thermodynamic and kinetic models of precipitate particle evolution and equilibrium in ternary alloys analogous to nickel-based superalloys.</p>

        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://www.nist.gov">
          <h3 class="resume-item-title" itemprop="name">National Institute of Standards and Technology</h3>
          <h4 class="resume-item-details" itemprop="description">NRC Postdoctoral Associate &bull; Gaithersburg, MD &bull; July 2015 &mdash; June 2017</h4>
          <p class="resume-item-copy">Implemented phase field model for solid-state transformation in alloy systems with three components and four phases, analogous to Inconel 625. Designed initial conditions based on electron micrographs of additively manufactured Inconel 625 to simulate microstructure evolution during heat treatment. Produced thermodynamic models through simplification of quantitative CALPHAD databases while retaining key phase diagram features, using computer algebra systems to accurately generate expressions and multivariable derivatives for import into phase field software.</p>

        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://mse.rpi.edu">
          <h3 class="resume-item-title" itemprop="name">Materials Science and Engineering Department, Rensselaer Polytechnic Institute</h3>
          <h4 class="resume-item-details" itemprop="description">Graduate Assistant: Kinetics of Materials &bull; Autumn 2012 and Spring 2015</h4>
          <h4 class="resume-item-details" itemprop="description">Graduate Teaching Assistant: Materials Science for Engineers &bull; Autumn 2014</h4>
          <p class="resume-item-copy">Hosted well-attended office hours to review lecture material, clarify assignment questions and concepts, and answer questions. As graduate TA, taught bi-weekly laboratory and weekly recitation covering homework and exam solutions. Ferreted out plagiarists.</p>

        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Veeco Instruments &bull; Solar Process Development Center</h3>
          <h4 class="resume-item-details" itemprop="description">Process Engineer, part time &bull; Clifton Park, NY &bull; July 2009 &mdash; August 2011</h4>
          <p class="resume-item-copy">Researched non-toxic alternatives to CdS, reporting to senior management. Traveled to Helsinki, Finland to evaluate state-of-the-art atomic layer deposition reactor.</p>

        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">DayStar Technologies &bull; Materials Development Group</h3>
          <h4 class="resume-item-details" itemprop="description">Process Engineer &bull; Clifton Park, NY &bull; January 2009 &mdash; June 2009</h4>
          <h4 class="resume-item-details" itemprop="description">Process Engineer &bull; Clifton Park, NY &bull; July 2006 &mdash; December 2008</h4>
          <p class="resume-item-copy">Researched alternatives to chemical bath deposition of CdS thin films, including nontoxic materials and novel reactor geometries. Achieved 72&times; scaleup in CdS deposition area with only 6&times; increase in waste generation.</p>

        </div>

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Scientific Computing</h4>
          <ul class="resume-item-list">
            <li>Parallel programming: OpenMP, MPI-2/MPI-IO, POSIX threads</li>
            <li>Debugging: gdb, gprof, Valgrind</li>
            <li>Version control: git, GitHub, branching workflows</li>
            <li>Data management: mdadm (RAID1, RAID5, RAID6), rdiff-backup, rsnapshot</li>
            <li>Cluster management: Ansible, Ganglia, NFS</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Experimental Techniques</h4>
          <ul class="resume-item-list">
            <li>Metallographic polishing and etching: Fe-, Cr-, Cu-, Zn-, and Ni-based alloys</li>
            <li>Scanning electron microscopy (SEM) of inorganic specimens</li>
            <li>X-ray diffractometry</li>
            <li>UV-visible light spectrophotometry</li>
            <li>Contact profilometry of thin films</li>
          </ul>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://mse.rpi.edu">
          <h3 class="resume-item-title" itemprop="name">Rensselaer Polytechnic Institute</h3>
          <h4 class="resume-item-details" itemprop="description">Doctor of Philosophy, <a href="http://mse.rpi.edu">Materials Engineering</a> &bull; Troy, NY &bull; 2011 &mdash; 2015</h4>
          <p class="resume-item-copy">Thesis: "Bias in Polycrystal Topology Caused by Grain Boundary Motion by Mean Curvature."</p>
          <p class="resume-item-copy">Performed large-scale phase field simulations of normal isotropic grain growth on high performance computing clusters including AMOS, an IBM Blue Gene/Q supercomputer. Designed and implemented algorithms to reconstruct polyhedral grain topology (faces, edges, and vertices) from diffuse interfaces in 2D and 3D phase field datasets. Found the process of triangular face elimination responsible for biasing topology in populations of polyhedral grains in synthetic, simulated, and real metal microstructures.</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://mse.rpi.edu">
          <h4 class="resume-item-details" itemprop="description">Master of Science, <a href="http://mse.rpi.edu">Materials Engineering</a> &bull; Troy, NY &bull; 2009 &mdash; 2011</h4>
          <p class="resume-item-copy">Thesis: "Effects of Magnesium(II) on Zinc Oxide Nanorod Growth From Aqueous Solution."</p>
          <p class="resume-item-copy">Designed experiments to deposit ZnO on glass substrates using a novel flow-through aqueous chemical reactor under various combinations of temperature, pH, reactant concentrations, and flow rate. Found minor effects of Mg<sup>2+</sup> ions on ZnO film stress and lattice parameters.</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://cbe.rpi.edu">
          <h4 class="resume-item-details" itemprop="description">Bachelor of Science, <a href="http://cbe.rpi.edu">Chemical Engineering</a> &bull; Troy, NY &bull; 2002 &mdash; 2006</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://github.com/mesoscale">
          <h3 class="resume-item-title" itemprop="name">Mesoscale Microstructure Simulation Project (<a href="https://github.com/mesoscale/mmsp">MMSP</a>)</h3>
          <h4 class="resume-item-details" itemprop="description">Software Developer &bull; January 2013 &mdash; Present</h4>
          <p class="resume-item-copy">MMSP is an open source library for phase-field and kinetic Monte Carlo simulations written in C++ with MPI. Invited to join project as co-developer based on contributed patches to eliminate memory leaks and resolve race conditions in parallel computing environments. Eliminated corruption in parallel I/O on large-block filesystems, enabling clean execution of phase field and kinetic Monte Carlo research simulations on IBM Blue Gene/Q supercomputers with up to 4096 cores. Implemented testing of proposed source code changes through automatic online continuous integration.</p>

        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_publications %}
      <!-- begin Publications -->
      <section class="content-section">

        <header class="section-header">
          <h2>Refereed Publications</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li>T. Keller, G. Lindwall, S. Ghosh, L. Ma, B. Lane, F. Zhang, U. Kattner, J. Heigel, E. Lass, Y. Idell, M. Williams, A. Allen, J. Guyer, and L. Levine. "Application of Finite Element, Phase-field, and CALPHAD-based Methods to Additive Manufacturing of Ni Alloys." <em>Acta Materialia</em> <b>139</b> (2017) 244&mdash;253. DOI: <a href="http://dx.doi.org/10.1016/j.actamat.2017.05.003">10.1016/j.actamat.2017.05.003</a>.
            <li>T. Keller, B. Cutler, E. Lazar, and D. Lewis. "Comparative Grain Topology." <em>Acta Materialia</em> <b>66</b> (2014) 414&mdash;423. DOI: <a href="http://dx.doi.org/10.1016/j.actamat.2013.11.039">10.1016/j.actamat.2013.11.039</a>.</li>
            <li>T. Keller, B. Cutler, M. Glicksman, and D. Lewis. "Enumeration of Polyhedra for Grain Growth Analysis." In <em>Proceedings of the First International Conference on 3D Materials Science</em> (3DMS’12), Seven Springs, PA, July 8&mdash;12, 2012, pages 97&mdash;106.</li>
          </ul>
        </div>

        <header class="section-header">
          <h2>Presentations<sup>*</sup></h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><u>T. Keller</u>, G. Lindwall, U. Kattner, and J. Guyer. "Reversion in Ternary Alloys using Phase-field and CALPHAD Methods." TMS Annual Meeting. Phoenix, AZ: March 20, 2018.</li>
            <li><u>T. Keller</u>. "HiPerC: High Performance Computing Strategies for Boundary Value Problems." CHiMaD Phase Field Workshop VI. Northwestern University: February 21, 2018.</li>
            <li><u>T. Keller</u>, G. Lindwall, U. Kattner, and J. Guyer. "Pitfalls of Modeling Additively Manufactured Materials: Case Study With Inconel 625." NIST MML MSED Baglunch. Gaithersburg, MD: October 11, 2017.</li>
            <li><u>T. Keller</u>, G. Lindwall, U. Kattner, and J. Guyer. "Pitfalls of Modeling Additively Manufactured Materials: Case Study With Inconel 625." TMS Annual Meeting. San Diego, CA: February 28, 2017.</li>
            <li><u>T. Keller</u>, G. Lindwall, U. Kattner, and J. Guyer. "Arresting deleterious particle growth in Inconel 625: Phase field model description." MS&amp;T Annual Meeting. Salt Lake City, UT: October 27, 2016.</li>
            <li><u>T. Keller</u>, B. Cutler, and D. Lewis. "Finite grain boundary networks from phase-field grain growth data." Invited talk to the NIST Material Science &amp; Engineering Division. Gaithersburg, MD: December 8, 2014.</li>
            <li>T. Keller, B. Cutler, and <u>D. Lewis</u>. Invited talk: "Comparative analysis of polycrystals in simulated &amp; experimental datasets." MS&amp;T Annual Meeting. Pittsburgh, PA: October 15, 2014.</li>
            <li>T. Keller, D. Crist, <u>D. Lewis</u>, Y. Tan, K. Huang, and C. Li. "Realtime prediction of grain growth during materials processing." PICS3. Marseille, France: May 2014.</li>
            <li><u>T. Keller</u> and D. Lewis. "Topological characterization of 3D microstructures with diffuse interfaces." TMS Annual Meeting. San Diego, CA: February 19, 2014.</li>
            <li><u>T. Keller</u>, D. Lewis, B. Cutler, and E. Lazar. "Topological comparison of synthetic microstructures." MS&amp;T Annual Meeting. Montreal, QC, Canada: October 28, 2013.</li>
            <li>T. Keller, <u>D. Lewis</u>, B. Cutler, B. Yener, S. Rock, G. Saunders, and M. Muench. "The topology of polycrystals." PICS3. Marseille, France: July 2013.</li>
            <li><u>T. Keller</u>, B. Cutler, G. Yauney, and D. Lewis. "Topological analysis of collapsing grains." MS&amp;T Annual Meeting. Pittsburgh, PA: October 10, 2012.</li>
            <li>T. Keller, B. Cutler, G. Yauney, and <u>D. Lewis</u>. "Polyhedral graphs &amp; grain topology." International Conference on 3-Dimensional Materials Science (3DMS). Seven Springs, PA: July 11, 2012.</li>
          </ul>

          <p class="resume-item-copy"><sup>*</sup>Presenter's name is <u>underlined</u>.</p>
        </div>

        <header class="section-header">
          <h2>Posters<sup>*</sup></h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><u>T. Keller</u> and D. Lewis. "Trijunction Drag Affects Grain Topology." NIST Chapter of Sigma Xi, Annual Postdoctoral Poster Session. Gaithersburg, MD: February 19, 2016.</li>
            <li><u>T. Keller</u> and D. Lewis. "Grain topology from 3D phase-field simulations." Eastern New York Chapter of ASM International, Spring Symposium. Troy, NY: November 18, 2014.</li>
            <li><u>T. Keller</u>, B. Cutler, G. Yauney, and D. Lewis. "Grain topologies in synthetic, simulated, and real microstructures." Rensselaer Moves into Petascale Computing: Celebration &amp; Workshop. Troy, NY: October 3, 2013.</li>
            <li><u>T. Keller</u>, B. Cutler, G. Yauney, and D. Lewis. "Topological distributions in synthetic microstructures and grains." 8th International Conference on Porous Metals and Metallic Foams (MetFoam). Raleigh, NC: June 23-26, 2013.</li>
            <li>D. Lewis, G. Saunders, S. Rock, <u>T. Keller</u>, J. Mao, M. Muench, J. Symons, D. Hoffman, M. Oullette, and C. LaBarre. "Development of an automated serial sectioning system." CATS/CEG Advanced Manufacturing Conference. Troy, NY: April 22, 2013.</li>
            <li><u>T. Keller</u>, G. Yauney, B. Cutler, and D. Lewis. "Grain populations in topological space." Eastern New York Chapter of ASM International, Spring Symposium. Troy, NY: December 5, 2012.</li>
          </ul>

          <p class="resume-item-copy"><sup>*</sup>Presenter's name is <u>underlined</u>.</p>
        </div>

      </section>
      <!-- end Publications -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award"><i>Acta Materialia</i></h3>
          <h4 class="resume-item-details">2017 Outstanding Reviewer Award</h4>
          <p class="resume-item-copy">Awarded by the <i>Acta Materialia</i> Editorial Board for excellent service in peer-review.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">8<sup>th</sup> International Conference on Porous Metals and Metallic Foams (MetFoam)</h3>
          <h4 class="resume-item-details">2<sup>nd</sup> Place Poster Award &bull; 2013</h4>
          <p class="resume-item-copy">Awarded for outstanding scientific poster.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Professional Development</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://pages.nist.gov/chimad-phase-field">CHiMaD Phase Field Working Group</a></h3>
          <h4 class="resume-item-details">Workshop IV &amp; Installathon &bull; January 17&mdash;20, 2017</h4>
          <h4 class="resume-item-details">Workshop III &amp; Hackathon II &bull; May 3&mdash;5, 2016</h4>
          <h4 class="resume-item-details">Workshop II &amp; Hackathon I &bull; October 13&mdash;16, 2016</h4>
          <p class="resume-item-copy">Active participant in time-limited coding activities and discussions of progress toward a "community code" for phase field simulations.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">NIST Women in STEM</h3>
          <h4 class="resume-item-details">STEM Role Model Training &bull; November 29, 2016</h4>
          <h4 class="resume-item-details">Meal with a Mentor &bull; June 28, 2016</h4>
          <p class="resume-item-copy">Active participant in one-on-one, group, and panel discussions with high school, undergraduate, and graduate students on the pursuit of careers in STEM.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://software-carpentry.org">Software Carpentry</a></h3>
          <h4 class="resume-item-details">Instructor Training &bull; April 2&mdash;3, 2018</h4>
          <p class="resume-item-copy">Actively participated in discussion and break-out groups, building context to teach successful Carpentries workshops at NIST and beyond.</p>
          <h4 class="resume-item-details">NIST Workshop &bull; September 23&mdash;24, 2015</h4>
          <p class="resume-item-copy">Worked through exercises in Unix shell scripting, python programming and visualization, version control with git, and data storage in SQL databases.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://iimec.tamu.edu/">IIMEC Summer School</a></h3>
          <h4 class="resume-item-details">Computational Materials Science Across Scales &bull; June 2&mdash;11, 2014</h4>
          <p class="resume-item-copy">Lecture topics included density functional theory, molecular dynamics, thermodynamics, phase-field models, and continuum mechanics. Equal coverage of theory and numerical exercises in collaborative workshops.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://www.siam.org">Society for Industrial and Applied Mathematics</a> (SIAM)</h3>
          <h4 class="resume-item-details">Member in good standing &bull; 2014 &mdash; Present</h4>
        </div>


      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Project Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="http://github.com/tkphd">Software Portfolio on GitHub</a></li>
            <li><a href="http://www.openhub.net/accounts/tkphd">Profile on OpenHub</a></li>
            <li><a href="http://github.com/usnistgov/phasefield-precipitate-aging">Postdoctoral Research Code: Solid-State Precipitation</a></li>
            <li><a href="http://github.com/tkphd/trijunctionThreshold">Graduate Research Code: Grain Growth with Trijunction Drag</a></li>
            <li><a href="http://github.com/mesoscale/mmsp">Mesoscale Microstructure Simulation Project</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Built using the <a href="https://github.com/jglovier/resume-template">Jekyll+GitHub resume template</a> by <a href="http://twitter.com/jglovier">@jglovier</a>.</p>
      </footer>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-91363365-1','auto');ga('send','pageview');
    </script>

  </body>

</html>
